doctype html
html
  head
    title Hello World
    script( src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js" )
  body( ng-app )
    h1 Hello World!
    p Some information here.
    {{3 + 7}}
